# Core
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0

# Machine Learning
lightgbm==4.6.0
scikit-learn==1.5.1
optuna==3.6.1

# Explainability
shap==0.51.0

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Utilities
scipy==1.13.1
